<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>Xin chào, <%= @resource.email %>!</h2>
  <p>Bạn đã yêu cầu đặt lại mật khẩu cho tài khoản của mình.</p>
  <p>Nhấn vào nút bên dưới để đặt lại mật khẩu:</p>
  <%binding.pry%>
  <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" 
     style="background-color:#4CAF50; color:white; padding: 10px 20px; text-decoration: none; display: inline-block; border-radius: 5px;">
     Đặt lại mật khẩu
  </a>

  <p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
  <p>Cảm ơn bạn!</p>
</body>
</html>
